@charset "utf-8";

html {
	font-size: 100%;
}


.big-bg {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

#home {
	background-image: url(../images/mainimage.jpg);
	min-height: 100vh; 
}

.page-header {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 4%;
}
.page-title {
	font-size: 5rem;
	font-family: 'Philosopher', serif;
	text-align: center;
}
.home-content p {
	font-size: 1.125rem;
	margin: 10px 0 42px;
	text-align: center;
}
.main-nav {
	display: flex;
	font-size: 1.25rem;
	text-transform: uppercase;
	margin-top: 34px;
	list-style: none;
}
.main-nav li {
	margin-left: 36px;
}
.